body {
  background-color: black;
  color: white;
  margin: 0;
}

div, canvas, img {
  position: fixed;
}

div {
  width: 400px;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -200px;
  padding: 0;
  background: rgba(255,255,255,.5);
  z-index: 100;
}


li {
  list-style-type: none;
  border: 1px solid black;
}

img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  z-index: 10;
}

img {
  opacity: 0.8;
  object-fit: cover;
}